.alert {
  border-radius: unset; }

.badge {
  border-radius: unset !important; }

.badge-pill {
  border-radius: 10rem !important; }

.breadcrumb {
  border-radius: unset !important; }

.btn-outline-primary {
  border: solid thin #007bff !important; }

.btn-outline-secondary {
  border: solid thin #6c757d !important; }

.btn-outline-warning {
  border: solid thin #ffc107 !important; }

.btn-outline-info {
  border: solid thin #17a2b8 !important; }

.btn-outline-danger {
  border: solid thin #dc3545 !important; }

.btn-outline-dark {
  border: solid thin #343a40 !important; }

.btn-outline-success {
  border: solid thin #28a745 !important; }

.card {
  box-shadow: 0px 0px 2px 1px #8ec5f2;
  border-radius: unset;
  cursor: pointer; }
  .card img {
    border-radius: unset; }

.card:hover {
  box-shadow: 0px 0px 18px 3px #8ec5f2; }

body {
  background: #EBF3F3; }

.search-form button {
  padding-bottom: 0.7rem !important;
  padding-top: 0.7rem !important; }

.patient-item {
  width: 100%; }
  .patient-item .card-text, .patient-item .card-title {
    margin-bottom: 0.25rem; }
  .patient-item .card-body {
    padding: 0.25rem 0.75rem; }

.text-align-center {
  text-align: center; }

.modal-content {
  border-radius: unset !important; }

.fit-2-input-fields .form-control {
  width: 50%; }

.mastercard-forms label {
  margin-bottom: unset;
  font-size: 1rem; }

.form-control {
  border-radius: unset; }

.custom-file-inputs {
  color: transparent; }

.custom-file-inputs::-webkit-file-upload-button {
  visibility: hidden; }

.custom-file-inputs::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 0;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt; }

.custom-file-inputs:hover::before {
  border-color: black; }

.custom-file-inputs:active {
  outline: 0; }

.custom-file-inputs:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

body {
  margin: 0;
  padding: 0;
  background: #BBDEFB;
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Abel', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

h5 {
  font-size: 1.3em; }

.card, .btn {
  border-radius: unset; }

.card {
  box-shadow: 0px 0px 2px 1px #8ec5f2;
  border-radius: unset;
  border: none;
  cursor: pointer; }

.card:hover {
  box-shadow: 0px 0px 18px 3px #8ec5f2; }

.clear-margin {
  margin: 10% auto; }

.border-secondary {
  border-color: #6c757d; }

.border-primary {
  border-color: #007bff; }

.rainbow-show .tag {
  float: unset !important;
  font-size: unset !important;
  font-weight: unset !important;
  line-height: unset !important;
  color: unset !important;
  text-shadow: unset !important;
  opacity: unset !important; }
